In [0]:
print("show")

show

### Creating Dataframe using Row()

In [0]:
x=[('Manish',23),("John",24),("Kiruba",31)]
rdd=sc.parallelize(x)

In [0]:
from pyspark.sql import Row

In [0]:
customer=Row("Name","Age")
type(customer)

Out[5]: pyspark.sql.types.Row

In [0]:
customerrow=rdd.map(lambda x:customer(*x))
customerrow.collect()

Out[11]: [Row(Name='Manish', Age=23),
 Row(Name='John', Age=24),
 Row(Name='Kiruba', Age=31)]

In [0]:
dataframe=spark.createDataFrame(customerrow)
dataframe.show()

+------+---+
|  Name|Age|
+------+---+
|Manish| 23|
|  John| 24|
|Kiruba| 31|
+------+---+

In [0]:
df2=spark.createDataFrame(rdd,["Name","Age"])
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

## defining a schema using StructType()

In [0]:
from pyspark.sql.types import *

schema=StructType([StructField("Name",StringType()), StructField("Age",IntegerType())])
df2=spark.createDataFrame(rdd,schema)
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

## using String type for schema

In [0]:
df2=spark.createDataFrame(rdd,"Name:string, Age:int")
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [0]:
data=[(101,'Hariharan',10000,'m',11),
(102,'Kalai',20000,'f',12),
(103,'Sivam',30000,'m',11),
(104,'Blake',35000,'m',12),
(105,'James',40000,'m',11)]

rdd=sc.parallelize(data)
df=spark.createDataFrame(rdd,['eid','ename','sal','gender','deptno'])
df.show()

+---+---------+-----+------+------+
|eid|    ename|  sal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

In [0]:
df.printSchema()

root
 |-- eid: long (nullable = true)
 |-- ename: string (nullable = true)
 |-- sal: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- deptno: long (nullable = true)

In [0]:
df.collect()

Out[24]: [Row(eid=101, ename='Hariharan', sal=10000, gender='m', deptno=11),
 Row(eid=102, ename='Kalai', sal=20000, gender='f', deptno=12),
 Row(eid=103, ename='Sivam', sal=30000, gender='m', deptno=11),
 Row(eid=104, ename='Blake', sal=35000, gender='m', deptno=12),
 Row(eid=105, ename='James', sal=40000, gender='m', deptno=11)]

In [0]:
rdd=sc.textFile("dbfs:/FileStore/sample.txt")
rdd.collect()

Out[25]: ['101,Hariharan,10000,m,11',
 '102,Kalai,20000,f,12',
 '103,Sivam,30000,m,11',
 '104,Blake,35000,m,12',
 '105,James,40000,m,11']

In [0]:
rdd.getNumPartitions()

Out[27]: 2

In [0]:
rdd2=rdd.map(lambda x:x.split(','))
rdd2.collect()

Out[28]: [['101', 'Hariharan', '10000', 'm', '11'],
 ['102', 'Kalai', '20000', 'f', '12'],
 ['103', 'Sivam', '30000', 'm', '11'],
 ['104', 'Blake', '35000', 'm', '12'],
 ['105', 'James', '40000', 'm', '11']]

In [0]:
#convert every list into Row
rdd3=rdd2.map(lambda x:Row(eid=int(x[0]),ename=x[1],esal=int(x[2]),gender=x[3],deptno=int(x[4])))
rdd3.collect()

Out[29]: [Row(eid=101, ename='Hariharan', esal=10000, gender='m', deptno=11),
 Row(eid=102, ename='Kalai', esal=20000, gender='f', deptno=12),
 Row(eid=103, ename='Sivam', esal=30000, gender='m', deptno=11),
 Row(eid=104, ename='Blake', esal=35000, gender='m', deptno=12),
 Row(eid=105, ename='James', esal=40000, gender='m', deptno=11)]

In [0]:
df=spark.createDataFrame(rdd3)
df.printSchema()

root
 |-- eid: long (nullable = true)
 |-- ename: string (nullable = true)
 |-- esal: long (nullable = true)
 |-- gender: string (nullable = true)
 |-- deptno: long (nullable = true)

In [0]:
df.show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

## DataFrame API

####  select-> to select or extract a particular column

In [0]:
smallddf=df.select("ename","esal")
smallddf.show()

+---------+-----+
|    ename| esal|
+---------+-----+
|Hariharan|10000|
|    Kalai|20000|
|    Sivam|30000|
|    Blake|35000|
|    James|40000|
+---------+-----+

Transformation on DataFrame will return DataFrame

df and smallddf are dataframes

In [0]:
df.select(df.esal,df.ename).show()

+-----+---------+
| esal|    ename|
+-----+---------+
|10000|Hariharan|
|20000|    Kalai|
|30000|    Sivam|
|35000|    Blake|
|40000|    James|
+-----+---------+

In [0]:
#select ename,esal,esal+3000 from employee

bonusdf=df.select(df.ename,df.esal,df.esal+3000)
bonusdf.show()

+---------+-----+-------------+
|    ename| esal|(esal + 3000)|
+---------+-----+-------------+
|Hariharan|10000|        13000|
|    Kalai|20000|        23000|
|    Sivam|30000|        33000|
|    Blake|35000|        38000|
|    James|40000|        43000|
+---------+-----+-------------+

In [0]:
# bonusdf=df.select("ename","esal","esal+3000") #error
bonusdf=df.selectExpr("ename","esal","esal+3000 bonus")
bonusdf.show()

+---------+-----+-----+
|    ename| esal|bonus|
+---------+-----+-----+
|Hariharan|10000|13000|
|    Kalai|20000|23000|
|    Sivam|30000|33000|
|    Blake|35000|38000|
|    James|40000|43000|
+---------+-----+-----+

### filter() to get the rows based on the condition

In [0]:
#select * from employees where salary>3000
df3=df.filter(df.esal>3000)
df3.show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

In [0]:
df4=df.filter(df.esal>30000).select("ename","esal")
df4.show()

+-----+-----+
|ename| esal|
+-----+-----+
|Blake|35000|
|James|40000|
+-----+-----+

In [0]:
df4=df.select("ename","esal").filter(df.esal>30000)
df4.show()

+---------+-----+
|    ename| esal|
+---------+-----+
|Hariharan|10000|
|    Kalai|20000|
|    Sivam|30000|
|    Blake|35000|
|    James|40000|
+---------+-----+

In [0]:
df5=df.filter(df.deptno==11).select("ename","esal")
df5.show()

+---------+-----+
|    ename| esal|
+---------+-----+
|Hariharan|10000|
|    Sivam|30000|
|    James|40000|
+---------+-----+

In [0]:
df5.count()

Out[51]: 3

In [0]:
df5.collect()

Out[52]: [Row(ename='Hariharan', esal=10000),
 Row(ename='Sivam', esal=30000),
 Row(ename='James', esal=40000)]

In [0]:
df.columns#return the column list

Out[53]: ['eid', 'ename', 'esal', 'gender', 'deptno']

In [0]:
df.describe().show()

+-------+------------------+-----+------------------+------+------------------+
|summary|               eid|ename|              esal|gender|            deptno|
+-------+------------------+-----+------------------+------+------------------+
|  count|                 5|    5|                 5|     5|                 5|
|   mean|             103.0| null|           27000.0|  null|              11.4|
| stddev|1.5811388300841898| null|12041.594578792296|  null|0.5477225575051661|
|    min|               101|Blake|             10000|     f|                11|
|    max|               105|Sivam|             40000|     m|                12|
+-------+------------------+-----+------------------+------+------------------+

In [0]:
df6=df.select(df.deptno)

#### distinct to filter the duplicate column

In [0]:
df6.distinct().show()

+------+
|deptno|
+------+
|    12|
|    11|
+------+

In [0]:
df.select("deptno").distinct().show()

+------+
|deptno|
+------+
|    12|
|    11|
+------+

#### orderBy() to order the data

In [0]:
df.orderBy("deptno").show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|105|    James|40000|     m|    11|
|101|Hariharan|10000|     m|    11|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|102|    Kalai|20000|     f|    12|
+---+---------+-----+------+------+

In [0]:
df.orderBy("ename").show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|104|    Blake|35000|     m|    12|
|101|Hariharan|10000|     m|    11|
|105|    James|40000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
+---+---------+-----+------+------+

In [0]:
df.distinct().orderBy("deptno").show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|103|    Sivam|30000|     m|    11|
|105|    James|40000|     m|    11|
|102|    Kalai|20000|     f|    12|
|104|    Blake|35000|     m|    12|
+---+---------+-----+------+------+

Sort() to arrange in ascending and desending order

In [0]:
df.sort(df.esal).show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

In [0]:
df.sort(df.esal.desc()).show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|105|    James|40000|     m|    11|
|104|    Blake|35000|     m|    12|
|103|    Sivam|30000|     m|    11|
|102|    Kalai|20000|     f|    12|
|101|Hariharan|10000|     m|    11|
+---+---------+-----+------+------+

In [0]:
df.show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

drop() to delete a particular column

In [0]:
df7=df.drop("gender")
df7.show()

+---+---------+-----+------+
|eid|    ename| esal|deptno|
+---+---------+-----+------+
|101|Hariharan|10000|    11|
|102|    Kalai|20000|    12|
|103|    Sivam|30000|    11|
|104|    Blake|35000|    12|
|105|    James|40000|    11|
+---+---------+-----+------+

In [0]:
df8=df.drop("deptno","gender")
df8.show()

+---+---------+-----+
|eid|    ename| esal|
+---+---------+-----+
|101|Hariharan|10000|
|102|    Kalai|20000|
|103|    Sivam|30000|
|104|    Blake|35000|
|105|    James|40000|
+---+---------+-----+

In [0]:
data=[(11,2000,'m'),(11,2000,'m'),(11,2500,'f')]
dfnew=spark.createDataFrame(data)
dfnew.show()

+---+----+---+
| _1|  _2| _3|
+---+----+---+
| 11|2000|  m|
| 11|2000|  m|
| 11|2500|  f|
+---+----+---+

In [0]:
dfnew.dropDuplicates([_1,_2]).show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-4204435062209565>:1
----> 1 dfnew.dropDuplicates([_1,_2]).show()

NameError: name '_1' is not defined

In [0]:
dfnew.dropDuplicates([dfnew._1,dfnew._2]).show()

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
File <command-4204435062209566>:1
----> 1 dfnew.dropDuplicates([dfnew._1,dfnew._2]).show()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3916, in DataFrame.dropDuplicates(self, subset)
   3914     jdf = self._jdf.dropDuplicates()
   3915 else:
-> 3916     jdf = self._jdf.dropDuplicates(self._jseq(subset))
   3917 return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/pyspark/sql/dataframe.py:2624, in DataFrame._jseq(self, cols, converter)
   2618 def _jseq(
   2619     self,
   2620     cols: Sequence,
   2621     converter: Optional[Callable[..., Union["PrimitiveType", JavaObject]]] = None,
   2622 ) -> JavaObject:
   2623     """Return a JVM Seq of Columns from a list of Column or names"""
-> 2624     return _to_seq(self.sparkSession._sc, cols, converter)

File /databricks/spark/python/pyspark/sql/column.py:89, in _to_seq(sc, cols, converter)
     87     cols = [converter(c) for c in cols]
     88 assert sc._jvm is not None
---> 89 return sc._jvm.PythonUtils.toSeq(cols)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1313, in JavaMember.__call__(self, *args)
   1312 def __call__(self, *args):
-> 1313     args_command, temp_args = self._build_args(*args)
   1315     command = proto.CALL_COMMAND_NAME +\
   1316         self.command_header +\
   1317         args_command +\
   1318         proto.END_COMMAND_PART
   1320     answer = self.gateway_client.send_command(command)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1277, in JavaMember._build_args(self, *args)
   1275 def _build_args(self, *args):
   1276     if self.converters is not None and len(self.converters) > 0:
-> 1277         (new_args, temp_args) = self._get_args(args)
   1278     else:
   1279         new_args = args

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1264, in JavaMember._get_args(self, args)
   1262 for converter in self.gateway_client.converters:
   1263     if converter.can_convert(arg):
-> 1264         temp_arg = converter.convert(arg, self.gateway_client)
   1265         temp_args.append(temp_arg)
   1266         new_args.append(temp_arg)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_collections.py:511, in ListConverter.convert(self, object, gateway_client)
    509 java_list = ArrayList()
    510 for element in object:
--> 511     java_list.add(element)
    512 return java_list

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1313, in JavaMember.__call__(self, *args)
   1312 def __call__(self, *args):
-> 1313     args_command, temp_args = self._build_args(*args)
   1315     command = proto.CALL_COMMAND_NAME +\
   1316         self.command_header +\
   1317         args_command +\
   1318         proto.END_COMMAND_PART
   1320     answer = self.gateway_client.send_command(command)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1277, in JavaMember._build_args(self, *args)
   1275 def _build_args(self, *args):
   1276     if self.converters is not None and len(self.converters) > 0:
-> 1277         (new_args, temp_args) = self._get_args(args)
   1278     else:
   1279         new_args = args

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1264, in JavaMember._get_args(self, args)
   1262 for converter in self.gateway_client.converters:
   1263     if converter.can_convert(arg):
-> 1264         temp_arg = converter.convert(arg, self.gateway_client)
   1265         temp_args.append(temp_arg)
   1266         new_args.append(temp_arg)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_collections.py:510, in ListConverter.convert(self, object, gateway_client)
    508 ArrayList = JavaClass("java.util.ArrayList", gateway_client)
    509 java_list = ArrayList()
--> 510 for element in object:
    511     java_list.add(element)
    512 return java_list

File /databricks/spark/python/pyspark/sql/column.py:657, in Column.__iter__(self)
    656 def __iter__(self) -> None:
--> 657     raise TypeError("Column is not iterable")

TypeError: Column is not iterable

In [0]:
df.dropDuplicates(["deptno","gender"]).show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|104|    Blake|35000|     m|    12|
+---+---------+-----+------+------+

In [0]:
df.first()

Out[75]: Row(eid=101, ename='Hariharan', esal=10000, gender='m', deptno=11)

In [0]:
rddversion=df.rdd

In [0]:
type(rddversion)

Out[77]: pyspark.rdd.RDD

In [0]:
rddversion.collect()

Out[78]: [Row(eid=101, ename='Hariharan', esal=10000, gender='m', deptno=11),
 Row(eid=102, ename='Kalai', esal=20000, gender='f', deptno=12),
 Row(eid=103, ename='Sivam', esal=30000, gender='m', deptno=11),
 Row(eid=104, ename='Blake', esal=35000, gender='m', deptno=12),
 Row(eid=105, ename='James', esal=40000, gender='m', deptno=11)]

In [0]:
#replace
df10=df.replace(['m','f'],['male','female'],'gender')
df10.show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|  male|    11|
|102|    Kalai|20000|female|    12|
|103|    Sivam|30000|  male|    11|
|104|    Blake|35000|  male|    12|
|105|    James|40000|  male|    11|
+---+---------+-----+------+------+

`if i want to change the column name or schema
eid-> empID
esal->income
deptno->no`

In [0]:
dfnewschema=df.toDF('empid','ename','income','gender','dno')
dfnewschema.show()

+-----+---------+------+------+---+
|empid|    ename|income|gender|dno|
+-----+---------+------+------+---+
|  101|Hariharan| 10000|     m| 11|
|  102|    Kalai| 20000|     f| 12|
|  103|    Sivam| 30000|     m| 11|
|  104|    Blake| 35000|     m| 12|
|  105|    James| 40000|     m| 11|
+-----+---------+------+------+---+

withColumnRenamed-> renaming a particular column

In [0]:
df.withColumnRenamed("ename","employeename").show()

+---+------------+-----+------+------+
|eid|employeename| esal|gender|deptno|
+---+------------+-----+------+------+
|101|   Hariharan|10000|     m|    11|
|102|       Kalai|20000|     f|    12|
|103|       Sivam|30000|     m|    11|
|104|       Blake|35000|     m|    12|
|105|       James|40000|     m|    11|
+---+------------+-----+------+------+

withColumn will create additional column to the dataframe

In [0]:
df.withColumn("bonus",df.esal+df.esal*0.1).show()

+---+---------+-----+------+------+-------+
|eid|    ename| esal|gender|deptno|  bonus|
+---+---------+-----+------+------+-------+
|101|Hariharan|10000|     m|    11|11000.0|
|102|    Kalai|20000|     f|    12|22000.0|
|103|    Sivam|30000|     m|    11|33000.0|
|104|    Blake|35000|     m|    12|38500.0|
|105|    James|40000|     m|    11|44000.0|
+---+---------+-----+------+------+-------+

we can convert a dataframe to JSON

In [0]:
df.toJSON().collect()

Out[88]: ['{"eid":101,"ename":"Hariharan","esal":10000,"gender":"m","deptno":11}',
 '{"eid":102,"ename":"Kalai","esal":20000,"gender":"f","deptno":12}',
 '{"eid":103,"ename":"Sivam","esal":30000,"gender":"m","deptno":11}',
 '{"eid":104,"ename":"Blake","esal":35000,"gender":"m","deptno":12}',
 '{"eid":105,"ename":"James","esal":40000,"gender":"m","deptno":11}']

groupBy used to group as per the column

In [0]:
df.show()

+---+---------+-----+------+------+
|eid|    ename| esal|gender|deptno|
+---+---------+-----+------+------+
|101|Hariharan|10000|     m|    11|
|102|    Kalai|20000|     f|    12|
|103|    Sivam|30000|     m|    11|
|104|    Blake|35000|     m|    12|
|105|    James|40000|     m|    11|
+---+---------+-----+------+------+

In [0]:
result=df.groupBy("deptno").count()
result.show()

+------+-----+
|deptno|count|
+------+-----+
|    12|    2|
|    11|    3|
+------+-----+

Aggregated Functions

agg()
sum()
min()
max()
avg()
count()

we have to impor the functions

In [0]:
from pyspark.sql.functions import count

In [0]:
df.groupBy("deptno").agg(count('gender').alias("number of employees")).show()

+------+-------------------+
|deptno|number of employees|
+------+-------------------+
|    12|                  2|
|    11|                  3|
+------+-------------------+

In [0]:
df.groupBy("deptno").sum("esal").show()

+------+---------+
|deptno|sum(esal)|
+------+---------+
|    12|    55000|
|    11|    80000|
+------+---------+

In [0]:
df.groupBy("deptno","gender").sum("esal").show()

+------+------+---------+
|deptno|gender|sum(esal)|
+------+------+---------+
|    12|     f|    20000|
|    11|     m|    80000|
|    12|     m|    35000|
+------+------+---------+

In [0]:
df.groupBy("deptno","gender").sum("esal").orderBy("gender").show()

+------+------+---------+
|deptno|gender|sum(esal)|
+------+------+---------+
|    12|     f|    20000|
|    11|     m|    80000|
|    12|     m|    35000|
+------+------+---------+